* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-color: rgb(236, 114, 134);
}
header {
  /* background-color: aqua; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
header img {
  max-height: 100%;
}
#menu-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#menu-links a {
  text-decoration: none;
  color: black;
  font-family: var(--font-family-main);
}
#menu-links a:nth-child(4) {
  color: var(--font-color);
}
#section-about {
  height: 400px;
  /* background-color: rgb(194, 150, 238); */
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5%;
}
#section-about img {
  max-height: 100%;
}
#about-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about-info p {
  font-size: 1rem;
}
#about-info p:nth-child(1) {
  color: var(--font-color);
}

#about-info h1 {
  font-size: 2rem;
}
button {
  border-radius: 20px;
  width: 100px;
  background-color: white;
  height: 30px;
  border: 3px solid rgb(42, 82, 148);
  color: black;
}
#section-second {
  background-image: linear-gradient(
    to right,
    rgb(131, 218, 240),
    rgb(43, 58, 121)
  );
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
}
#section-second p:first-child {
  font-size: 2rem;
  font-weight: bold;
  width: 50%;
}
#section-images {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
#section-images img {
  height: 250px;
  width: 200px;
}
